---
    layout: default
    title: index
---
%h2 contacts
%p
    Twitter:
    %a{ href: 'https://twitter.com/yuchiki1000yen' } @yuchiki100yen
%p
    Github:
    %a{ href: 'https://github.com/yuchiki' } yuchiki
%p
    Blog:
    %a{ href: 'http://yuchiki1000yen.hatenablog.com' } Amosapientiam
