!!!
%html{lang: "ja"}
    %head
        %meta{charset: "UTF-8"}
        %title Yuchiki.net
        %link{rel: "stylesheet", href: "https://fonts.googleapis.com/earlyaccess/nicomoji.css"}
        %link{rel: "stylesheet", href: "https://fonts.googleapis.com/earlyaccess/hannari.css"}
        %link{rel: "stylesheet", href: "https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css"}
        %link{rel: "stylesheet", href: "/css/styles.css"}
        %link{rel: "icon", href: "/favicon.ico"}
    %body
        %h1.nav-to-top
            %a{ href: '/'} Yuchiki.net
        %hr
        {{content}}
